@font-face {
    font-family: Bebas; /* Имя шрифта */
    src: url(../fonts/bebas.ttf); 
}
@font-face {
	font-family: Helvetica, sans-serif;
	src: url(../fonts/HelveticaRegular.ttf);
}
@font-face {
	font-family: Georgia, sans-serif;
	src: url(../fonts/georgia.ttf);
}
@font-face {
	font-family: HelveticaNeue, sans-serif;
	src: url(../fonts/HelveticaNeue-Black.ttf);
}
body {
	font-family: "Bebas", sans-serif;
	}
* {
	margin: 0;
	/*box-sizing: border-box;*/
}
.container {
	max-width: 940px;
	margin: 0 auto;
}.header_wrap {
	display: flex;
	text-align: center;
	padding: 22px 0;
	align-items: baseline;

}

.header_nav {

	margin-left: auto;
}
.header_logo {
	
}
.logo {
	text-decoration: none;
}
.logo_part2 {
	color: #f3af9d;
	display: inline-block;
	font-size: 36px;
}
.logo_part1 {
		display: inline-block;
font-size: 36px;
color: #ff6633;
}
.nav {
	font-size: 16px;
	font-family: "Bebas", sans-serif;
	position: relative;
	top: -6px;
	}
	.nav a {
	text-decoration: none;
	color: #b9b9b9;
	margin-left: 24px;
}
.nav a:active {
	color: #e8663c;
}
.nav a:hover {
	color: #e8663c; 
}
footer {
overflow: hidden;
font-size: 12px;
line-height: 1.4;
}
.footer_wrap {
	position: relative;
	background-color: #ff6633;
	padding: 30px;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 17px;
}
.footer_wrap:before,
.footer_wrap:after {
position: absolute;
height: 100%;
background: #ff9999;
content: "";
right: 100%;
margin-right: 10px;
width: 1000px;
top: 0;
}
.footer_wrap:after {
*/content: "";
left: 100%;
margin-left: 10px;
}
.footer_text p {
	font-family: "Helvetica", sans-serif;
	margin-bottom: 18px;
}
h2 {
	margin-bottom: 23px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: "Bebas", sans-serif;
}
.tweet {
	margin-bottom: 1.2em;
}
.tweet a {
	color: #ff9999;
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
}
.tweet_content {
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	margin-bottom: 0.5em;
}
.footer_links a{
color: #fff;
text-decoration: none;
}
.hero {
	overflow: hidden;
	margin-bottom: 40px;
}
.hero_wrap {
	position: relative;
}
.hero_wrap:before,
.hero_wrap:after {
position: absolute;
height: 60px;
background: #ff9999;
content: "";
right: 100%;
margin-right: 10px;
width: 1000px;
top: 0;
}
.hero_wrap:after {
*/content: "";
left: 100%;
margin-left: 10px;
}
.hero_wrap:before,
.hero_wrap:after {
position: absolute;
height: 60px;
background: #ff9999;
content: "";
right: 100%;
margin-right: 10px;
width: 1000px;
top: 0;
}
.h3 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 18px;
	color: #ed8771;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.h3:after {
		content: "";
		flex: 1;
		margin-left: 20px;
		background: url(../img/pattern.png) 0 0;
}