.hero_text {
  font-size: 24px;
  font-family: "Bebas", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: left;
    background-color: #ff6633;
    padding: 20px 19px;
 }
.hero_wrap::before,
.hero_wrap::after {
    height: 72px;
}
.maparea {
    display: flex;

}
.map {
    width: 72%;
    margin-right: 45px;
}
.aside {
    width: 28%;
    margin-left: 0;
}